In [1]:
import pandas as pd
import requests as rq
import numpy as np
import matplotlib.pyplot as plt
import re
from bs4 import BeautifulSoup

In [ ]:
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv("features_selecionadas(com labels).csv", index_col=0)
df = df[df["interested"].notnull()].reset_index(drop=True)
df.shape

(600, 16)

In [3]:
df.tail()

,watch-title,interested,watch-view-count,watch-time-text,content_watch-info-tag-list,watch7-headline,watch7-user-header,watch8-sentiment-actions,og:image,og:image:width,og:image:height,og:description,og:video:width,og:video:height,og:video:type,channel_link_0
595,Curso de Estatística Prática - Aula 2: Organiz...,1.0,16 visualizações,Publicado em 4 de mar. de 2020,Ciência e tecnologia,EEFERPUSP Escola de Educação Física e Esporte\...,Pedro Abdalla\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarre...,16 visualizações\n\n\n\n\n\n\n\n4\n\nGostou de...,https://i.ytimg.com/vi/b0BfSHd8Zb8/hqdefault.jpg,480,360,Aula ministrada no Grupo de Estudo e Pesquisa ...,1280.0,720.0,text/html,/channel/UCdtCblBFPv-D0nQnV4lBbYw
596,Estatística: Prof. Carlos Henrique,0.0,2.225 visualizações,Transmitido ao vivo em 26 de fev. de 2019,HAAWK for a 3rd Party; HAAWK Publishing,#Estatística #AulaGratuita #ConcursoPúblico\n\...,Estratégia Concursos\n\n\n\n\n\n\n\n\n\n\n\n\n...,2.225 visualizações\n\n\n\n\n\n\n\n105\n\nGost...,https://i.ytimg.com/vi/P2hni68W5JE/maxresdefau...,1280,720,Aula Gratuita de Estatística com o Prof. Carlo...,1280.0,720.0,text/html,/channel/UChvwkhC3eHxJsVxW_ItDjdA
597,Estatística para Polícia Federal 2018 - André ...,0.0,6.567 visualizações,Publicado em 13 de ago. de 2018,Educação,#políciafederal\n\n\n\n Estatística para Po...,AlfaCon Concursos Públicos\n\n\n\n\n\n\n\n\n\n...,6.567 visualizações\n\n\n\n\n\n\n\n336\n\nGost...,https://i.ytimg.com/vi/5VPzLt-F8HM/maxresdefau...,1280,720,Professor André Arruda trabalha os principais ...,1280.0,720.0,text/html,/channel/UCoihrBTsIlpFnTkJFU-kdtQ
598,SAP-SP 2017 - Estatística - Probabilidade - Pa...,0.0,5.150 visualizações,Publicado em 31 de mai. de 2017,Educação,SAP-SP 2017 - Estatística - Probabilidade - Pa...,LacConcursos - Canal\n\n\n\n\n\n\n\n\n\n\n\n\n...,5.150 visualizações\n\n\n\n\n\n\n\n125\n\nGost...,https://i.ytimg.com/vi/JSmRb2W0rr4/hqdefault.jpg,480,360,Curso ONLINE para o SAP SP 2017 Cargo: Agente ...,1280.0,720.0,text/html,/channel/UCaq7S526azt0duOdaRHbpkQ
599,Curso de Aprofundamento em Probabilidade e Est...,1.0,94 visualizações,Publicado em 23 de nov. de 2018,Educação,Curso de Aprofundamento em Probabilidade e Est...,Alexandre Raymundo\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,94 visualizações\n\n\n\n\n\n\n\n13\n\nGostou d...,https://i.ytimg.com/vi/7Jm5WGbH0BE/maxresdefau...,1280,720,Clique no link abaixo para registrar-se no meu...,1280.0,720.0,text/html,/channel/UC1HU4QiALfeiVYCaIE3BuiQ

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [5]:
df_clean = pd.DataFrame(index=df.index)

In [9]:
df["watch-title"].head(3)

0             O que é Data Science? #HipstersPontoTube
1    Data Science: Introdução a Ciência de Dados (P...
2                  Como é ser data scientist no Nubank
Name: watch-title, dtype: object

In [10]:
df_clean["title"] = df["watch-title"]

## Limpeza de Datas

In [11]:
date_clean = df["watch-time-text"].str.extract(r"(\d+) de ([a-z]+)\. de (\d+)")
date_clean[0] = date_clean[0].apply(lambda x: "0" + str(x) if len(str(x)) == 1 else x)

months_replace = {"jan": "01",
                  "fev": "02",
                  "mar": "03",
                  "abr": "04",
                  "mai": "05",
                  "jun": "06",
                  "jul": "07",
                  "ago": "08",
                  "set": "09",
                  "out": "10",
                  "nov": "11",
                  "dez": "12"}

date_clean[1] = date_clean[1].replace(months_replace)
df_clean["date"] = pd.to_datetime(date_clean[0] + "/" + date_clean[1] + "/" + date_clean[2], format="%d/%m/%Y")

## Limpeza de Views

In [12]:
df_clean["views"] = df["watch-view-count"].str.extract(r"(\d+\.?\d+)", expand=False).str.replace(".", "").fillna(0).astype(int)

In [13]:
df_clean.head()

                                               title       date   views
0           O que é Data Science? #HipstersPontoTube 2019-04-03   63761
1  Data Science: Introdução a Ciência de Dados (P... 2019-09-23   85461
2                Como é ser data scientist no Nubank 2019-01-16   57726
3         O que é ciência de dados | Nerdologia Tech 2018-07-26  272406
4  Como ingressar no MERCADO de DATA SCIENCE | Bi... 2019-10-21   10467

## Features

In [154]:
features = pd.DataFrame(index=df_clean.index)
y = df["interested"].copy()

In [155]:
features["tempo_desde_pub"] = (pd.to_datetime("2020-04-01") - df_clean["date"]) / np.timedelta64(1, 'D')
features["views"] = df_clean["views"]
features["views_por_dia"] = features["views"] / features["tempo_desde_pub"]
features = features.drop(["tempo_desde_pub"], axis=1)

In [156]:
features.head()

    views  views_por_dia
0   63761     175.167582
1   85461     447.439791
2   57726     130.897959
3  272406     442.936585
4   10467      64.214724

In [157]:
mask_train = df_clean["date"] < "2018-10-01"
mask_val = df_clean["date"] >= "2018-10-01"

Xtrain, Xval = features[mask_train], features[mask_val]
ytrain, yval = y[mask_train], y[mask_val]
Xtrain.shape, Xval.shape, ytrain.shape, yval.shape

((295, 2), (304, 2), (295,), (304,))

In [158]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [159]:
title_train = df_clean[mask_train]["title"]
title_val = df_clean[mask_val]["title"]

In [160]:
title_vec = TfidfVectorizer(min_df=2)
title_bow_train = title_vec.fit_transform(title_train)
title_bow_val = title_vec.transform(title_val)

In [161]:
title_bow_train.shape

(295, 261)

In [162]:
title_bow_train

<295x261 sparse matrix of type '<class 'numpy.float64'>'
	with 1926 stored elements in Compressed Sparse Row format>

In [163]:
from scipy.sparse import hstack, vstack

In [164]:
Xtrain_wtitle = hstack([Xtrain, title_bow_train])
Xval_wtitle = hstack([Xval, title_bow_val])

In [165]:
Xtrain_wtitle.shape, Xval_wtitle.shape

((295, 263), (304, 263))

In [166]:
mdl = RandomForestClassifier(n_estimators=1000, random_state=0, class_weight="balanced", n_jobs=6)
mdl.fit(Xtrain_wtitle, ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=6, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [167]:
p = mdl.predict_proba(Xval_wtitle)[:, 1]

In [168]:
from sklearn.metrics import roc_auc_score, average_precision_score

In [169]:
# Antigo: 0.68
average_precision_score(yval, p)

0.7923196847300129

In [170]:
# Antigo: 0.63
roc_auc_score(yval, p)

0.7243598428397237

In [ ]:
# Mindf=2 se saiu melhor que mindf=1 e 3
ap 0.7558327673464535, auc 0.6818859233166237 - mindf=1
ap 0.7923196847300129, auc 0.7243598428397237 - mindf=2
ap 0.7837520730469235, auc 0.7177663369913743 - mindf=3

## Active Learning

100 exemplos que o modelo tenha dificuldade

20 exemplos aleatoriamente

In [376]:
df_unlabeled = pd.read_csv("features_selecionadas(com labels).csv", index_col=0)
df_unlabeled = df_unlabeled[df_unlabeled["watch-title"].notnull()]
df_unlabeled = df_unlabeled[~df_unlabeled["watch-time-text"].str.contains("há")]
df_unlabeled = df_unlabeled[df_unlabeled["interested"].isnull()].dropna(how="all").reset_index(drop=True)
df_unlabeled.shape

(1043, 16)

In [377]:
df_unlabeled.head(2)

,watch-title,interested,watch-view-count,watch-time-text,content_watch-info-tag-list,watch7-headline,watch7-user-header,watch8-sentiment-actions,og:image,og:image:width,og:image:height,og:description,og:video:width,og:video:height,og:video:type,channel_link_0
0,Data science for the environment | Dan Hammer ...,NaN,5.139 visualizações,Publicado em 8 de mar. de 2018,Sem fins lucrativos/ativismo,Data science for the environment | Dan Hammer ...,TEDx Talks\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarreg...,5.139 visualizações\n\n\n\n\n\n\n\n148\n\nGost...,https://i.ytimg.com/vi/ph439t-kTIE/maxresdefau...,1280,720,"Since the industrial revolution, as human tech...",1280.0,720.0,text/html,/channel/UCsT0YIqwnpJCM-mx7-gSA4Q
1,"Master of Data Science, University of Sydney",NaN,NaN,Publicado em 29 de out. de 2015,Educação,"Master of Data Science, University of Sydney",The University of Sydney\n\n\n\n\n\n\n\n\n\n\n...,NaN,https://i.ytimg.com/vi/LO49IxE7QkI/hqdefault.jpg,480,360,This professional degree is for people who are...,1280.0,720.0,text/html,/channel/UChyxYzq0ZAB0iBw-A1l5jFA

In [378]:
df_clean_u = pd.DataFrame(index=df_unlabeled.index)
df_clean_u["title"] = df_unlabeled["watch-title"]

## Limpeza de Datas

In [379]:
date_clean = df_unlabeled["watch-time-text"].str.extract(r"(\d+) de ([a-z]+)\. de (\d+)")
date_clean[0] = date_clean[0].apply(lambda x: "0" + str(x) if len(str(x)) == 1 else x)

months_replace = {"jan": "01",
                  "fev": "02",
                  "mar": "03",
                  "abr": "04",
                  "mai": "05",
                  "jun": "06",
                  "jul": "07",
                  "ago": "08",
                  "set": "09",
                  "out": "10",
                  "nov": "11",
                  "dez": "12"}

date_clean[1] = date_clean[1].replace(months_replace)
df_clean_u["date"] = pd.to_datetime(date_clean[0] + "/" + date_clean[1] + "/" + date_clean[2], format="%d/%m/%Y")

In [380]:
df_clean_u = df_clean_u.dropna().reset_index(drop=True)

In [381]:
df_clean_u.head()

                                               title       date
0  Data science for the environment | Dan Hammer ... 2018-03-08
1       Master of Data Science, University of Sydney 2015-10-29
2  How to Make a Data Science Project with Kaggle... 2018-07-03
3  Data Science: R ou Python? Escolhendo sua Ling... 2017-09-21
4  What is data science In telugu-డేటా సైన్స్ అంట... 2017-10-16

## Limpeza de Views

In [382]:
df_clean_u["views"] = df_unlabeled["watch-view-count"].str.extract(r"(\d+\.?\d+)", expand=False).str.replace(".", "").fillna(0).astype(int)

In [383]:
df_clean_u.head()

                                               title       date  views
0  Data science for the environment | Dan Hammer ... 2018-03-08   5139
1       Master of Data Science, University of Sydney 2015-10-29      0
2  How to Make a Data Science Project with Kaggle... 2018-07-03  80683
3  Data Science: R ou Python? Escolhendo sua Ling... 2017-09-21  27120
4  What is data science In telugu-డేటా సైన్స్ అంట... 2017-10-16  44951

## Features

In [384]:
features_u = pd.DataFrame(index=df_clean_u.index)

In [385]:
features_u["tempo_desde_pub"] = (pd.to_datetime("2020-04-01") - df_clean_u["date"]) / np.timedelta64(1, 'D')
features_u["views"] = df_clean_u["views"]
features_u["views_por_dia"] = features_u["views"] / features_u["tempo_desde_pub"]
features_u = features_u.drop(["tempo_desde_pub"], axis=1)

In [386]:
features_u.head()

   views  views_por_dia
0   5139       6.806623
1      0       0.000000
2  80683     126.462382
3  27120      29.382449
4  44951      50.056793

In [387]:
title_u = df_clean_u["title"]
title_bow_u = title_vec.transform(title_u)

In [388]:
title_bow_u

<1043x261 sparse matrix of type '<class 'numpy.float64'>'
	with 4556 stored elements in Compressed Sparse Row format>

In [389]:
Xu_wtitle = hstack([features_u, title_bow_u])

In [390]:
Xu_wtitle

<1043x263 sparse matrix of type '<class 'numpy.float64'>'
	with 6510 stored elements in COOrdinate format>

In [391]:
pu = mdl.predict_proba(Xu_wtitle)[:, 1]

In [392]:
df_unlabeled["p"] = pu

In [393]:
df_unlabeled.head(5)

,watch-title,interested,watch-view-count,watch-time-text,content_watch-info-tag-list,watch7-headline,watch7-user-header,watch8-sentiment-actions,og:image,og:image:width,og:image:height,og:description,og:video:width,og:video:height,og:video:type,channel_link_0,p
0,Data science for the environment | Dan Hammer ...,NaN,5.139 visualizações,Publicado em 8 de mar. de 2018,Sem fins lucrativos/ativismo,Data science for the environment | Dan Hammer ...,TEDx Talks\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarreg...,5.139 visualizações\n\n\n\n\n\n\n\n148\n\nGost...,https://i.ytimg.com/vi/ph439t-kTIE/maxresdefau...,1280,720,"Since the industrial revolution, as human tech...",1280.0,720.0,text/html,/channel/UCsT0YIqwnpJCM-mx7-gSA4Q,0.707
1,"Master of Data Science, University of Sydney",NaN,NaN,Publicado em 29 de out. de 2015,Educação,"Master of Data Science, University of Sydney",The University of Sydney\n\n\n\n\n\n\n\n\n\n\n...,NaN,https://i.ytimg.com/vi/LO49IxE7QkI/hqdefault.jpg,480,360,This professional degree is for people who are...,1280.0,720.0,text/html,/channel/UChyxYzq0ZAB0iBw-A1l5jFA,0.693
2,How to Make a Data Science Project with Kaggle...,NaN,80.683 visualizações,Publicado em 3 de jul. de 2018,Ciência e tecnologia,How to Make a Data Science Project with Kaggle...,Google Cloud Platform\n\n\n\n\n\n\n\n\n\n\n\n\...,80.683 visualizações\n\n\n\n\n\n\n\n1.866\n\nG...,https://i.ytimg.com/vi/m2DfpM6MyB8/maxresdefau...,1280,720,"It can take a lot of tools to do data science,...",1280.0,720.0,text/html,/channel/UCJS9pqu9BzkAMNTmzNMNhvg,0.858
3,Data Science: R ou Python? Escolhendo sua Ling...,NaN,27.120 visualizações,Publicado em 21 de set. de 2017,Pessoas e blogs,Data Science: R ou Python? Escolhendo sua Ling...,DataScience Brasil\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,27.120 visualizações\n\n\n\n\n\n\n\n1.250\n\nG...,https://i.ytimg.com/vi/bpUcyG184cc/maxresdefau...,1280,720,Datacamp (cursos introdutórios gratuitos em R ...,1280.0,720.0,text/html,/channel/UCncbt0V8HWUf4ARv97ECc-g,0.793
4,What is data science In telugu-డేటా సైన్స్ అంట...,NaN,44.951 visualizações,Publicado em 16 de out. de 2017,Educação,What is data science In telugu-డేటా సైన్స్ అంట...,VLR Training\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarreg...,44.951 visualizações\n\n\n\n\n\n\n\n433\n\nGos...,https://i.ytimg.com/vi/bM58Js0m-2A/hqdefault.jpg,480,360,"data science training python videos, datacamp ...",960.0,720.0,text/html,/channel/UCBgofU0cs7Mv-1UDmqISP4Q,0.791

In [395]:
mask_u = (df_unlabeled["p"] >= 0.46) & (df_unlabeled["p"] <= 0.53)
mask_u.sum()

107

In [397]:
df_unlabeled[mask_u]

,watch-title,interested,watch-view-count,watch-time-text,content_watch-info-tag-list,watch7-headline,watch7-user-header,watch8-sentiment-actions,og:image,og:image:width,og:image:height,og:description,og:video:width,og:video:height,og:video:type,channel_link_0,p
30,"Introduction to Data, Analytics, and Machine L...",NaN,8.159 visualizações,Publicado em 31 de jul. de 2018,Ciência e tecnologia,"Introduction to Data, Analytics, and Machine L...",IBM Data and AI\n\n\n\n\n\n\n\n\n\n\n\n\n\nCar...,8.159 visualizações\n\n\n\n\n\n\n\n226\n\nGost...,https://i.ytimg.com/vi/Db24-JRN3ls/maxresdefau...,1280,720,"Data, analytics and machine learning are the f...",1280.0,720.0,text/html,/channel/UCJTuksne41vNVFxzyZDJodQ,0.499
41,Data Science – Baba Brinkman Music Video,NaN,22.043 visualizações,Publicado em 21 de out. de 2019,Música,Data Science – Baba Brinkman Music Video,Baba Brinkman\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarre...,22.043 visualizações\n\n\n\n\n\n\n\n734\n\nGos...,https://i.ytimg.com/vi/uHGlCi9jOWY/maxresdefau...,1280,720,Rap battle between a data scientist and a clas...,1280.0,720.0,text/html,/channel/UCz9Qm66ewnY0LAlZlL4HK9g,0.494
45,Data Science Careers at McKinsey Analytics,NaN,44.466 visualizações,Publicado em 15 de set. de 2017,Notícias e política,Data Science Careers at McKinsey Analytics,McKinsey & Company\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,44.466 visualizações\n\n\n\n\n\n\n\n484\n\nGos...,https://i.ytimg.com/vi/86o159AdZvs/maxresdefau...,1280,720,"At McKinsey Analytics, we help clients harness...",1280.0,720.0,text/html,/channel/UCQMqUlg362Hhar_iCZ9tcjQ,0.460
47,Rethinking Business: Data Analytics With Googl...,NaN,5.780 visualizações,Publicado em 10 de abr. de 2019,Ciência e tecnologia,Rethinking Business: Data Analytics With Googl...,G Suite\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarregando....,5.780 visualizações\n\n\n\n\n\n\n\n79\n\nGosto...,https://i.ytimg.com/vi/DpngHc31a5Y/maxresdefau...,1280,720,"People, process, & technology: these universal...",1280.0,720.0,text/html,/channel/UCBmwzQnSoj9b6HzNmFrg_yw,0.473
56,DATA SCIENCE BOOTCAMPS: GOOD OR BAD?,NaN,44.306 visualizações,Publicado em 21 de fev. de 2019,Entretenimento,DATA SCIENCE BOOTCAMPS: GOOD OR BAD?,Python Programmer\n\n\n\n\n\n\n\n\n\n\n\n\n\nC...,44.306 visualizações\n\n\n\n\n\n\n\n1.230\n\nG...,https://i.ytimg.com/vi/zLSpuOWwmvE/maxresdefau...,1280,720,My opinion on Data Science Bootcamps. Free boo...,1280.0,720.0,text/html,/channel/UC68KSmHePPePCjW4v57VPQg,0.517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,Aula #07 - Tipos de Gráfico - IQ OPTION,NaN,18 visualizações,Publicado em 19 de mar. de 2020,Pessoas e blogs,Aula #07 - Tipos de Gráfico - IQ OPTION,tarug0 TRADER\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarre...,18 visualizações\n\n\n\n\n\n\n\n1\n\nGostou de...,https://i.ytimg.com/vi/CcX-VoKwYmg/hqdefault.jpg,480,360,Para operar na sala de sinais da TURTLE TRADER...,1280.0,720.0,text/html,/channel/UCLPuLTC02OT8TCgvG_q8AWQ,0.467
1016,Aula #07 - Tipos de Gráfico - IQ OPTION,NaN,18 visualizações,Publicado em 19 de mar. de 2020,Pessoas e blogs,Aula #07 - Tipos de Gráfico - IQ OPTION,tarug0 TRADER\n\n\n\n\n\n\n\n\n\n\n\n\n\nCarre...,18 visualizações\n\n\n\n\n\n\n\n1\n\nGostou de...,https://i.ytimg.com/vi/CcX-VoKwYmg/hqdefault.jpg,480,360,Para operar na sala de sinais da TURTLE TRADER...,1280.0,720.0,text/html,/channel/UCLPuLTC02OT8TCgvG_q8AWQ,0.467
1020,Maratona IBGE - Ética | Prof. Felipe Medeiros,NaN,108 visualizações,Transmitido ao vivo em 18 de mar. de 2020,Educação,Maratona IBGE - Ética | Prof. Felipe Medeiros,Exponencial Concursos\n\n\n\n\n\n\n\n\n\n\n\n\...,108 visualizações\n\n\n\n\n\n\n\n25\n\nGostou ...,https://i.ytimg.com/vi/SL_FUuDY9Sg/maxresdefau...,1280,720,Bora detonar a banca e gabaritar a prova do IB...,480.0,360.0,text/html,/channel/UCr9rg5WOPmXvZgOfBl-HEuw,0.471
1037,Um trecho da Amostra do meu trabalho n ° 01,NaN,55 visualizações,Publicado em 15 de mar. de 2020,AdRev for a 3rd Party (em nome de Atlantic Sev...,Um trecho da Amostra do meu trabalho n ° 01,CyNara Customizações\n\n\n\n\n\n\n\n\n\n\n\n\n...,55 visualizações\n\n\n\n\n\n\n\n13\n\nGostou d...,https://i.ytimg.com/vi/M8x6MRVAyqY/hqdefault.jpg,480,360,Links: Instagram: https://www.instagram.com/cy...,960.0,720.0,text/html,/channel/UC2zw9UciNp50Ny7FTiAl_nQ,0.502
1038,"Latitude e Longitude no IBGE, CONHECIMENTOS TÉ...",NaN,541 visualizações,Publicado em 16 de mar. de 2020,Educação,"Latitude e Longitude no IBGE, CONHECIMENTOS TÉ...",PEDREIRO CONCURSEIRO MINEIRO\n\n\n\n\n\n\n\n\n...,541 visualizações\n\n\n\n\n\n\n\n86\n\nGostou ...,https://i.ytimg.com/vi/yyNAu6difOc/maxresdefau...,1280,720,Link do NOSSO CANAL De QUESTÕES: https://www.y...,1280.0,720.0,text/html,/channel/UCk9i0-eQNk6Q2Ndnr4YvGgA,0.519

In [398]:
hards = df_unlabeled[mask_u]

In [399]:
random_cases = df_unlabeled[~mask_u].sample(20)

In [402]:
df_for_acl = pd.concat([hards, random_cases])

In [455]:
for column in df_for_acl[df_for_acl.dtypes[df_for_acl.dtypes == object].index]:
    break_number = df_for_acl[column].str.contains("\n", na=False, regex=True).sum()
    if break_number > 0:
        df_for_acl[column] = df_for_acl[column].apply(lambda x: str(x).replace("\n", ""))

In [461]:
df_for_acl.head(2)

,watch-title,interested,watch-view-count,watch-time-text,content_watch-info-tag-list,watch7-headline,watch7-user-header,watch8-sentiment-actions,og:image,og:image:width,og:image:height,og:description,og:video:width,og:video:height,og:video:type,channel_link_0,p
30,"Introduction to Data, Analytics, and Machine L...",NaN,8.159 visualizações,Publicado em 31 de jul. de 2018,Ciência e tecnologia,"Introduction to Data, Analytics, and Machine L...",IBM Data and AICarregando... Cancel...,8.159 visualizações226Gostou deste vídeo? ...,https://i.ytimg.com/vi/Db24-JRN3ls/maxresdefau...,1280,720,"Data, analytics and machine learning are the f...",1280.0,720.0,text/html,/channel/UCJTuksne41vNVFxzyZDJodQ,0.499
41,Data Science – Baba Brinkman Music Video,NaN,22.043 visualizações,Publicado em 21 de out. de 2019,Música,Data Science – Baba Brinkman Music Video,Baba BrinkmanCarregando... Cancelar...,22.043 visualizações734Gostou deste vídeo? ...,https://i.ytimg.com/vi/uHGlCi9jOWY/maxresdefau...,1280,720,Rap battle between a data scientist and a clas...,1280.0,720.0,text/html,/channel/UCz9Qm66ewnY0LAlZlL4HK9g,0.494

In [457]:
df_for_acl.to_csv("active_label.csv")